@font-face {
  font-family: "Inclusive Sans";
  src: url(https://www.dvrpc.org/css/InclusiveSans-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: "Inclusive Sans";
  src: url(https://www.dvrpc.org/css/InclusiveSans-Bold.ttf);
}


@font-face  {
  font-family: "Source Sans 3 Light";
  src: url(https://www.dvrpc.org/css/SourceSans3-Light.ttf);
}

@font-face  {
  font-family: "Source Sans 3";
  src: url(https://www.dvrpc.org/css/SourceSans3-Regular.ttf);
}

@font-face {
  font-style: italic;
  font-family: "Source Sans 3";
  src: url(https://www.dvrpc.org/css/SourceSans3-It.ttf);
}

@font-face {
  font-weight: bold;
  font-family: "Source Sans 3";
  src: url(https://www.dvrpc.org/css/SourceSans3-Semibold.ttf);
}

@page {
  margin-top: 0.5in;
  margin-bottom: 0.6in;
  size: letter;
}

@page :nth(2n) {
  margin-right: 1in;
  margin-left: 0.75in;

  @bottom-left {
    width: 100%;
    padding-top: 10px;
    line-height: 1;
    font-size: 11pt;
    font-family: "Source Sans 3";
    vertical-align: top;
    border-top: 1px solid black;
    content: counter(page) " | {{ chapter }}";
  }
  @bottom-right {
    padding-top: 6px;
    vertical-align: top;
    content: element(pageHeader);
  }
}

@page :nth(2n+1) {
  margin-right: 0.75in;
  margin-left: 1in;

  @bottom-left {
    width: 100%;
    padding-top: 6px;
    vertical-align: top;
    border-top: 1px solid black;
    content: element(pageHeader);
  }
  @bottom-right {
    width: 75%;
    padding-top: 10px;
    line-height: 1;
    font-size: 11pt;
    font-family: "Source Sans 3";
    vertical-align: top;
    content: "{{ chapter }} | " counter(page);
  }
}

@page :first {
  counter-reset: page {{ pageno }};
}

@page blank {
  @bottom-left {
    border: none;
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

@media print {
  #pageFooter {
    position: running(pageHeader);
  }
}

body {
  margin: 0;
  font-size: 10.5pt;
  font-family: "Source Sans 3";
  line-height: 1.25;
}

svg {
  margin-right: 4px;
}

.blank {
  page: blank;
}

.toc {
  page: toc;
}

#pageFooter svg {
  width: 0.81in;
  vertical-align: top;
}

.toc h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 22pt;
  font-family: "Inclusive Sans";
  box-sizing: initial;
  width: initial;
  padding-left: 0;
  border-bottom: none;
}

.toc-header-dvrpc {
  margin: 0;
  margin-top: 16px;
  font-size: 13pt;
  font-family: "Source Sans 3 Light";
}

.toc-header-upwp {
  margin: 0;
  margin-top: 4px;
  font-size: 13pt;
  font-family: "Source Sans 3 Light";
}

.toc-header-toc {
  margin: 0;
  margin-top: 16px;
  font-weight: bold;
  font-size: 22pt;
  font-family: "Inclusive Sans";
}

.toc-header-table {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  font-weight: bold;
  font-size: 14pt;
  font-family: "Inclusive Sans";
  border-bottom: none;
}

.toc ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 11pt;
  font-family: "Source Sans 3";
}

.toc-row {
  display: flex;
  padding: 2px;
  line-height: 1;
  border-bottom: 1px solid #7d7d7d;
}

.toc-row-proid {
  display: block;
  width: 15%;
  margin-top: 2px;
  line-height: 1;
}

.toc-row a {
  position: relative;
  display: block;
  width: 85%;
  padding: 2px 0;
  padding-right: 5%;
  color: inherit;
  line-height: 1;
  text-decoration: none;
}

.toc-row.table a {
  width: 100%;
}

.toc-row a::after {
  position: absolute;
  right: 0;
  text-align: right;
  content: target-counter(attr(href), page);
}

h2 {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 4px 0;
  padding-left: 26%;
  font-size: 12pt;
  border-bottom: 1.5px solid black;
  font-family: "Inclusive Sans";
  font-weight: bold;
  position: relative;
}

h2 span {
  position: absolute;
  left: 0;
}

h3 {
  margin: 0;
  font-size: 11pt;
  font-weight: bold;
  break-after: avoid;
  font-family: "Inclusive Sans";
}

h3+* {
  margin-top: 0;
}

.header {
  margin: 0;
  font-size: 12pt;
  margin-bottom: 8px;
  font-weight: normal;
  font-family: "Source Sans 3 Light";
  line-height: 1;
  color: #000;
}

.inline {
  font-weight: bold;
  font-family: "Inclusive Sans";
  margin: 0;
  padding: 0;
  width: 25%;
  clear: both;
  float:left;
}

.inline + p {
  margin: 0;
  padding: 0;
  width: 74%;
  float: right;
  font-size: 11pt;
}

.goals {
  font-family: "Source Sans 3";
  font-size: 10.5pt;
}

.heading {
  font-size: 11pt;
  font-weight: bold;
  clear: both;
}

.heading + p,
.heading + div {
  margin-top: 4px;
}

h3 + h4 {
  margin-top: 1rem;
}

h4 {
  margin: 0;
  font-size: 10.5pt;
  font-weight: bold;
}

h4 + p {
  margin-top: 0;
}

i,em {
  font-style: italic;
}

b, strong{ 
  font-weight: bold;
}

ol {
  margin-top: 0;
}

li {
  padding-left: 8px;
}

ol ol {
  list-style-type: lower-alpha;
}

table,
thead,
tbody,
th,
tr {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table {
  width: 100%;
  margin-top: 4px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

th {
  font-weight: bold;
}

td,
th {
  padding: 3px 9px 3px 0px;
  border-top: 1px solid black;
}

.fundingnote {
  margin-top: 1px;
  margin-bottom: 0;
}

.fundingnote + p,
.fundingnote + mark > p {
  margin: 0;
}

a[href] {
  color: inherit !important;
}