<article class="toc">
  <p class="toc-header-dvrpc">Delaware Valley Regional Planning Commission</p>
  <p class="toc-header-upwp">
    FY{{ yr }} Work Program {{ month }} Progress Report ( PA / NJ / Other )
  </p>
  <p class="toc-header-toc">Table of Contents</p>
  <ul style="list-style: upper-roman">
    <li class="toc-row">Narrative Statement of DVRPC’s Regular Program</li>
    <li class="toc-row">
      Table 1: Project Status Report: (DVRPC’s Regular Program)
    </li>
    <li class="toc-row">
      Table 2: Project Status Report for New Jersey Local Scoping Program, PA/NJ
      Transportation Community Development Initiative (TCDI)
    </li>
    <li class="toc-row">
      Table 3: Project Status Report for Supportive Regional Highway Planning
      Program, PA/NJ Regional GIS Implementation, Transit Support Program
    </li>
  </ul>
</article>
