@font-face {
  font-family: "Calibri";
  src: url(https://github.com/jondot/dotfiles/raw/refs/heads/master/.fonts/calibri.ttf);
}

@font-face {
  font-weight: bold;
  font-family: "Calibri";
  src: url(https://github.com/jondot/dotfiles/raw/refs/heads/master/.fonts/calibri.ttf);
}

@page {
  margin-top: 0.5in;
  margin-bottom: 0.6in;
  size: letter;
}

@page :nth(2n) {
  margin-right: 1in;
  margin-left: 0.75in;

  @bottom-left {
    width: 100%;
    padding-top: 12px;
    font-size: 11pt;
    font-family: "Calibri";
    vertical-align: top;
    border-top: 1px solid black;
    content: counter(page) " | {{ chapter }}";
  }
  @bottom-right {
    padding-top: 6px;
    vertical-align: top;
    content: element(pageHeader);
  }
}

@page :nth(2n+1) {
  margin-right: 0.75in;
  margin-left: 1in;

  @bottom-left {
    width: 100%;
    padding-top: 6px;
    vertical-align: top;
    border-top: 1px solid black;
    content: element(pageHeader);
  }
  @bottom-right {
    width: 75%;
    padding-top: 12px;
    font-size: 11pt;
    font-family: "Calibri";
    vertical-align: top;
    content: "{{ chapter }} | " counter(page);
  }
}

@page :first {
  counter-reset: page {{ pageno }};
}

@page blank {
  @bottom-left {
    border: none;
    content: none;
  }
  @bottom-right {
    content: none;
  }
}

@media print {
  #pageFooter {
    position: running(pageHeader);
  }
}

svg {
  margin-right: 4px;
}

article {
  width: 100%;
  font-size: 11pt;
  font-family: Calibri;
  line-height: 1.1;
  break-after: always;
}

article:last-child {
  break-after: auto;
}

section {
  width: 100%;
  font-size: 11pt;
  font-family: Calibri;
  line-height: 1.1;
  padding-bottom: 16px;
  break-inside: avoid ;
}

section:last-of-type {
  border-bottom: none;
}

.blank {
  page: blank;
}

.toc {
  page: toc;
}

#pageFooter svg {
  width: 0.81in;
  vertical-align: top;
}

h1 {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 24pt;
}

.toc-header-dvrpc {
  margin: 0;
  margin-top: 16px;
  font-size: 13pt;
}

.toc-header-upwp {
  margin: 0;
  margin-top: 4px;
  font-size: 13pt;
}

.toc-header-toc {
  margin: 0;
  margin-top: 16px;
  font-weight: bold;
  font-size: 24pt;
}

.toc-header-table {
  margin: 0;
  margin-top: 32px;
  font-weight: bold;
  font-size: 14pt;
}

.toc ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.toc-row {
  display: flex;
  padding: 2px;
  line-height: 1;
  border-bottom: 1px solid #000;
}

.toc-row-proid {
  display: block;
  width: 15%;
  margin-top: 2px;
  line-height: 1;
}

.toc-row a {
  position: relative;
  display: block;
  width: 85%;
  padding: 2px 0;
  padding-right: 5%;
  color: inherit;
  line-height: 1;
  text-decoration: none;
}

.toc-row.table a {
  width: 100%;
}

.toc-row a::after {
  position: absolute;
  right: 0;
  text-align: right;
  content: target-counter(attr(href), page);
}

h2 {
  display: flex;
  margin: 0;
  font-size: 12pt;
  border-bottom: 1.5px solid black;
}

h2 > *,
.h-list > * {
  float: left;
}

h2 > strong,
.h-list > :first-child {
  clear: left;
  width: 25%;
}

.h-list:after {
  content: '';
  display: table;
  clear:both;
  height: 1rem;
}

h3 {
  margin: 0;
  font-size: 12pt;
  font-weight: bold;
  break-after: avoid;
}

div.header {
  margin: 0;
  font-size: 12pt;
  font-weight: bold;
  break-after: avoid;
  margin-bottom: 12px;
  color: #666;
  font-weight: normal;
}

dl {
  clear: both;
  width: 100%;
  margin-top: 8px;
  line-height: 1.3;
  font-size: 12pt;
}

dl:after {
  display: table;
  clear: both;
  content: "";
}

dt {
  float: left;
  clear: left;
  width: 25%;
  font-weight: bold;
}

dd {
  float: left;
  clear: left;
  margin-left: 25%;
}

dt + dd {
  float: left;
  clear: none;
  margin-left: 0;
}

h3 + p,
h3 + div {
  margin-top: 4px;
}


i,em {
  font-style: italic;
}

b, strong{ 
  font-weight: bold;
}

ol {
  margin-top: 0;
}

table,
thead,
tbody,
th,
tr {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

th {
  font-weight: bold;
}

td,
th {
  padding: 3px 0;
  border-top: 1px solid black;
}

.fundingnote p {
  margin: 0;
}
